@model IEnumerable<LibreLink_.Models.LevelGuide>

@{
    ViewBag.Title = "Index";
}

<h2>Level Guide</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LevelGuideColour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LevelGuideBounder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LevelGuideColour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LevelGuideBounder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LevelGuideId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LevelGuideId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LevelGuideId })
        </td>
    </tr>
}

</table>
