@model IEnumerable<LibreLink_.Models.Reminder>

@{
    ViewBag.Title = "Index";
}

<h2>Reminder</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReminderTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReminderMessage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReminderMessage)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReminderId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReminderId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReminderId })
        </td>
    </tr>
}

</table>
